/* amazon */
@import 'compass/css3/background-size';

div.hatena-asin-detail {
  margin: 1em;
  padding: 1em;
  border: .4em solid #ff9900;
  @include border-radius(1em, 1em);
  background: white;

  img.hatena-asin-detail-image {
    float: left;
    border: 0;
    margin: 0 10px 0 0 ;
  }

  div.hatena-asin-detail-info {
    margin: 0 0 0 140px;
    word-break: break-all;

    p.hatena-asin-detail-title {
      font-weight: bold;
      font-size: 14px;
      width: 100%;
      margin: 0;
    }

    ul {
      list-style-type: none;
      font-size: 11px;
      margin: 5px 0 0 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
      }
    }
  }
  div.hatena-asin-detail-foot {
    background-image: url(/assets/images/Amazon.co.jp_Logo.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    @include background-size(20%);
    height: 123px * 0.2;
    clear: both;
  }
  p a {
    border: 0;
  }
}
