/* rakuten */
@import 'compass/css3/background-size';

div.rakuten-detail {
  margin: 1em;
  padding: 1em;
  border: .4em solid rgb(191, 0, 0);
  @include border-radius(1em, 1em);
  background: white;

  img.rakuten-detail-image {
    float: left;
    border: 0;
    margin: 0 10px 0 0 ;
  }

  div.rakuten-detail-info {
    margin: 0 0 0 140px;
    word-break: break-all;

    p.rakuten-detail-title {
      font-weight: bold;
      font-size: 14px;
      width: 100%;
      margin: 0;
    }

    p.rakuten-detail-desc {
      font-size: 11px;
      width: 100%;
      margin: 0;
    }
  }
  div.rakuten-detail-foot {
    background-image: url(/assets/images/Rakuten_logo.svg);
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 25px;
    clear: both;
  }
  p a {
    border: 0;
  }
}

