---
---
@charset 'utf-8';

$experimental-support-for-opera:false;
$experimental-support-for-khtml:false;

@import 'compass/reset';
@import 'compass/css3/background-size';
@import 'compass/css3/box-shadow';
@import 'compass/css3/border-radius';
@import 'compass/css3/border-radius';
@import 'compass/css3/images';
@import 'compass/typography/vertical_rhythm';
@import 'compass/utilities/general/clearfix';

@import 'zurui';

// fonts
$serif: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
$serif_ja: "ヒラギノ明朝 Pro W6","Hiragino Mincho Pro","HGS明朝E","ＭＳ Ｐ明朝", serif;
$gothic: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Yu Gothic",YuGothic,"Noto Sans Japanese","Noto Sans CJK JP","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Helvetica,Arial,Verdana,sans-serif;
$console: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
$code: "Courier New","Andale Mono",monospace,serif;
$monospace: Monaco, Consolas, "Courier New", monospace;
$aa: "Mona", "IPA MONAPGOTHIC", "MS PGothic", "ＭＳ Ｐゴシック", "MS Pｺﾞｼｯｸ", "MS Pゴシック", sans-serif;
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

/* vertical rhythm font-size */
$base-font-size: 15px;
$base-line-height: 24px;
@include establish-baseline;

/* content */
body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: -10px;
  width: 110%;
  height: 10px;

  @include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
}

body {
  @include background-size(cover);
  min-width: 100%;
  min-height: 100%;
  color: #333333;
  background-color: #f8f8f8;
  font-family: $gothic;
  font-weight: 500;
  font-feature-settings: "palt" 1;

  @include box-shadow(rgba(0, 0, 0, .15) 0 0 100px inset);
}

strong {
  font-weight: bold;
}

@mixin headline-black-background {
  $background-color: #222;
  background-color: $background-color;
  @include background-image(linear-gradient(lighten($background-color, 10%), $background-color));
  @include box-shadow(rgba(255, 255, 255, .25) 0 0 60px inset);

  color: #f8f8f8;
  font-weight: 600;
  @include ts-black;
}

.page-wrap {
  margin: 0;
  padding: 0;
  text-align: center;
}

div.header, h1 {
  $font-size: 30px;
  @include adjust-font-size-to($font-size, 2);
  @include leader(0, $font-size);
  @include trailer(0, $font-size);

  padding: 6px;
  text-align: center;

  @include headline-black-background;
}

a.header {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #f8f8f8;
}

/* article body */

.article-body h2 {
  $font-size: 24px;
  @include adjust-font-size-to($font-size, 2);
  @include leader(1, $font-size);
  @include trailer(1, $font-size);
  @include headline-black-background;
  padding-left: 1em;
}

.article-body h3 {
  $font-size: 16px;
  @include adjust-font-size-to($font-size, 2);
  @include leader(1, $font-size);
  @include trailer(1, $font-size);
  @include headline-black-background;
  margin-left: 2em;
  padding-left: 2em;
}

.article-body h4 {
  $font-size: 16px;
  @include adjust-font-size-to($font-size, 2);
  @include leader(1, $font-size);
  @include trailer(1, $font-size);
}

.article-body h5 {
  $font-size: 16px;
  @include adjust-font-size-to($font-size, 2);
  @include leader(1, $font-size);
  @include trailer(1, $font-size);
}

.article-body p, ul, ol, dl, blockquote {
  @include adjust-font-size-to($base-font-size, 1);
  @include leader(1, $base-font-size);
  @include trailer(1, $base-font-size);
  margin-left: $base-font-size;
  margin-right: $base-font-size;
}

.article-body li {
  list-style-type: disc;
  margin-left: $base-font-size;
}

.article-body li > p, li > ul {
  margin-left: 0;
  @include leader(0.2, $base-font-size);
  @include trailer(0.2, $base-font-size);
}

.article-body img {
  max-width: 100%;
  height: auto;
  width: auto; /* for IE 9 */
}

/* common */
.social-button-container {
  @include adjust-font-size-to($base-font-size, 1);
  @include leader(1, $base-font-size);
  margin-left: $base-font-size;
  margin-right: $base-font-size;

  width: 600px;
  height: 30px;
  display: inline-block;
  overflow: hidden;
  text-align: left;
  vertical-align: bottom;

  .twitter {
    float: left;
    width: 100px;
    height: 30px;
    margin-right: 20px;
    overflow: hidden;
  }

  .hatena {
    float: left;
    width: 120px;
    height: 30px;
    margin-right: 10px;
    overflow: hidden;
  }

  .fb-like {
    float: left;
    height: 25px;
    line-height: 20px;
  }
}

// for link
@import 'compass/css3/images';
@import 'compass/css3/transition';
@import 'compass/css3/background-clip';

a {
  color: #333;
  @include transition(0.3s);
}

a:hover {
  color: #fcfcfc;
  background-color: #333;
  text-decoration: none;
}

h1 {
  @include leader(0.5, 30px);
}

div.ascii-art {
  font-size:12pt;
  line-height:18px;
  font-family: $aa;
}

pre, code {
  margin: 0 auto;
  font-size: 9pt;
  font-family: $monospace;
  overflow-x: scroll;
}

hr {
  @include line-bottom;
}

/* google code prettify */
@import 'google-code-prettify-desert';

ol li {
  list-style-type: decimal;
}

ol.linenums {
  padding-left: 40px;
  font-family: $monospace;
}

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9
{
  list-style-type: decimal;
}

/* responsible: column drop */
.main {
  text-align: left;
}

@media screen and (min-width: 980px) {
  .main {
    width: 650px;
    padding: 1px;
    display: inline-block;
    vertical-align: top;
  }
  .right-bar {
    width: 300px;
    padding: 1px;
    display: inline-block;
    vertical-align: top;
  }
}

/* twitter button */
@import 'twitter';

/* right bar */
.right-bar {
  $font-size: 12px;
  @include adjust-font-size-to($font-size, 1);
  @include leader(0.5, $font-size);
  @include trailer(0.5, $font-size);
}

.right-bar ul {
  text-align: left;
}

.right-bar h2 {
  $font-size: 16px;
  @include adjust-font-size-to($font-size, 1);
  @include leader(0, $font-size);
  @include trailer(1, $font-size);

  $background-color: #222;
  background-color: $background-color;
  @include background-image(linear-gradient(lighten($background-color, 10%), $background-color));
  @include box-shadow(rgba(255, 255, 255, .25) 0 0 60px inset);

  color: #f8f8f8;
  font-weight: 600;
}

.right-bar h3 {
  $font-size: 14px;
  @include adjust-font-size-to($font-size, 0);
  font-weight: 600;
}

.right-bar li {
  list-style-type: disc;
  list-style-position: inside;
}

blockquote {
  margin: 1em;
  padding: 1em;
  border: .4em solid #000000;
  @include border-radius(1em, 1em);
  background: white;
}

@import 'amazon';
@import 'rakuten';

@media screen and (min-width: 800px) {
  .table-row {
    display: table;
    width: 100%;
  }
  .table-column {
    display: table-cell;
    vertical-align: top;
  }
  .table-column:first-child {
    width: 20%;
  }
  .sidebar-fixed {
    position: fixed;
    top: 20px;
  }
}
