---
---
@charset 'utf-8';

$experimental-support-for-opera:false;
$experimental-support-for-khtml:false;

@import 'compass/reset';
@import 'compass/css3/background-size';
@import 'compass/css3/box-shadow';
@import 'compass/css3/border-radius';
@import 'compass/typography/vertical_rhythm';
@import 'compass/utilities/general/clearfix';

// fonts
$serif: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
$serif_ja: "ヒラギノ明朝 Pro W6","Hiragino Mincho Pro","HGS明朝E","ＭＳ Ｐ明朝", serif;
$gothic: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Helvetica,Arial,Verdana,sans-serif;
$console: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
$code: "Courier New","Andale Mono",monospace,serif;
$monospace: Monaco, Consolas, "Courier New", monospace;
$aa: "Mona", "IPA MONAPGOTHIC", "MS PGothic", "ＭＳ Ｐゴシック", "MS Pｺﾞｼｯｸ", "MS Pゴシック", sans-serif;

/* vertical rhythm font-size */
$base-font-size: 15px;
$base-line-height: 24px;
@include establish-baseline;

/* content */
body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: -10px;
  width: 110%;
  height: 10px;

  @include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
}

body {
  // FIXME: kimeru
  background: url(/assets/images/7530054972_6e987e8540_o.jpg) no-repeat center center fixed;
  //background: url(/assets/images/7758832526_79b91743ec_o.jpg) no-repeat center center fixed;
  @include background-size(cover);
  min-width: 100%;
  min-height: 100%;
  color: #333333;
}

.page-wrap {
  position: fixed;
  top: $base-line-height / 2;
  right: $base-line-height / 2;
  left: $base-line-height / 2;
  bottom: $base-line-height / 2;
  background: white;
  @include border-radius($base-line-height / 2);
  padding: 20px;
  overflow-y: scroll;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  @include border-radius(5px);
}

h1 {
  $font-size: 30px;
  @include adjust-font-size-to($font-size, 2);
  @include leader(0, $font-size);
  @include trailer(1, $font-size);
}

h2 {
  $font-size: 24px;
  @include adjust-font-size-to($font-size, 2);
  @include leader(1, $font-size);
  @include trailer(1, $font-size);
}

h3 {
  $font-size: 18px;
  @include adjust-font-size-to($font-size, 2);
  @include leader(1, $font-size);
  @include trailer(1, $font-size);
}

h4 {
  $font-size: 18px;
  @include adjust-font-size-to($font-size, 2);
  @include leader(1, $font-size);
  @include trailer(1, $font-size);
}

h5 {
  $font-size: 18px;
  @include adjust-font-size-to($font-size, 2);
  @include leader(1, $font-size);
  @include trailer(1, $font-size);
}

p, ul, blockquote {
  @include adjust-font-size-to($base-font-size, 1);
  @include leader(1, $base-font-size);
  @include trailer(1, $base-font-size);
  margin-left: $base-font-size;
  margin-right: $base-font-size;
}

div.ascii-art {
  font-size:12pt;
  line-height:18px;
  font-family: $aa;
}

pre, code {
  margin: 0 auto;
  font-size: 9pt;
  padding: 4px;
  font-family: $monospace;
  overflow-x: scroll;
}

article img {
  max-width: 100%;
  height: auto;
  width: auto; /* for IE 9 */
}

/* google code prettify */
ol.linenums {
  padding-left: 40px;
  font-family: $monospace;
}

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9
{
  list-style-type: decimal;
}

@import 'google-code-prettify-desert';
@import 'twitter.scss';
