<!-- vim: set expandtab ts=2 sw=2 nowrap ft=html ff=unix : -->
<!DOCTYPE html>
<html lang="{{ page.lang }}">
{% if page.url contains '/blog/' %}{% assign is_blog = 1 %}{% endif %}
{% capture sub_title %}{% if is_blog %}{{ 'blog_name'|t}}{% else %}{{ 'site_name'|t}}{% endif %}{% endcapture %}
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
  <link rel="canonical" href="{{ site.production_url }}{{ page.url }}" />
  <meta name="author" content="{{ site.author.name }}" />

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="/assets/stylesheets/screen.css" rel="stylesheet" />

  <link rel="shortcut icon" href="/favicon.ico">

  <meta property="og:title" content="{{ page.title | escape }}" />
  <meta property="og:url" content="{{ site.production_url }}{{ page.url | remove: 'index.html' }}" />
  <meta property="og:type" content="{% if page.url == '/ja/index.html' %}blog{% else %}article{% endif %}" />
  <meta property="og:description" content="{{ page.raw.content | strip_newlines | strip_html | truncatewords: 40 | truncate: 300 | escape }}" />
  <meta property="og:image" content="{% if page.thumbnail != null %}{{ page.thumbnail }}{% else %}{{ site.production_url }}/assets/images/apple-touch-icon-114x114.png{% endif %}"/>
  <meta property="og:site_name" content="{{ sub_title }}" />

  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />

  <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>

  <link rel="alternate" type="application/rss+xml" href="/{{ page.lang }}/feed/rss.xml" />
  <link rel="alternate" type="application/atom+xml" href="/{{ page.lang }}/feed/atom.xml" />
</head>

<body>
  <div class="header"><a href="/{{ page.lang }}/" class="header">グニャラくんの㍿ｗｋｔｋ運営日記</a></div>
  <div class="page-wrap">
    <div class="main">
      {{ content }}
    </div>

    <div class="right-bar">
      <h2>当ブログ人気記事</h2>
      <h3>一般</h3>
      <ul>
        <li><a href="http://blog.wktk.co.jp/archives/181">インターネット上で楽しく過ごすために</a></li>
        <li><a href="http://blog.wktk.co.jp/archives/136">ひとり暮らしの男性に、電気フライヤーのススメ</a></li>
        <li><a href="http://blog.wktk.co.jp/archives/257">飽きっぽい30男が4ヶ月でTOEIC 850点を取った3つの方法</a></li>
        <li><a href="http://blog.wktk.co.jp/archives/20">deCODEmeとNavigenicsで遺伝子検査をしたデータを公開してみる。</a></li>
        <li><a href="http://blog.wktk.co.jp/archives/253">冬だ！グニャ鍋だ！（俺式ピェンローレシピ）</a></li>
      </ul>
      <h3>技術</h3>
      <ul>
        <li><a href="http://blog.wktk.co.jp/archives/71">ØMQ(zeromq)について調査する。</a></li>
        <li><a href="http://blog.wktk.co.jp/archives/234">JSON on HTTPやWeb APIを各言語でどうやって実装するのか</a></li>
        <li><a href="http://blog.wktk.co.jp/archives/278">危なくないgitこと、うちのチームのgit戦略草案</a></li>
      </ul>

<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- blog wktk レクタングル -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-8187984880986474"
     data-ad-slot="3057087206"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

      <h2>自己紹介</h2>
      <dl>
        <dt>グニャラくん</dt>
        <img src="/assets/images/kiki_with_tasuku_500.jpg" style="width:250px;height:250px" />
        <dd>
          株式会社wktkという会社を趣味で経営しているWeb系ITエンジニアです。
        </dd>
      </dl>

      <!-- Twitter follow button -->
      <section class="twitter-button-container">
        <div class="twitter-button">
          <a href="https://twitter.com/tasukuchan" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @tasukuchan</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="twitter-button-cover">
          <div class="twitter-button-innie"></div>
          <div class="twitter-button-spine"></div>
          <div class="twitter-button-outie"></div>
        </div>
        <div class="twitter-button-shadow"></div>
      </section>
    </div>

  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-16318808-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script src="/assets/javascripts/prettify.js"></script>
  <script>
    $(function() {
      window.prettyPrint && prettyPrint();
    });
  </script>
</body>
</html>
