<!-- vim: set expandtab ts=2 sw=2 nowrap ft=html ff=unix : -->
<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <link rel="canonical" href="{{ site.production_url }}{{ page.url }}">
    <meta name="author" content="{{ site.author.name }}">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/assets/stylesheets/screen.css" rel="stylesheet">

    <!-- TODO: icons -->
    <!--link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"-->

    <!-- TODO: facebook -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>

    <link rel="alternate" type="application/rss+xml" href="/{{ page.lang }}/feed/rss.xml" />
    <link rel="alternate" type="application/atom+xml" href="/{{ page.lang }}/feed/atom.xml" />
  </head>

  <body>
    <div class="container">
      <div class="content page-wrap">
        {{ content }}
      </div>
    </div> <!-- /container -->

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16318808-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script src="/assets/javascripts/prettify.js"></script>
    <script>
      $(function() {
        window.prettyPrint && prettyPrint();
      });
    </script>
  </body>
</html>
