<!-- vim: set expandtab ts=2 sw=2 nowrap ft=html ff=unix : -->
<!DOCTYPE html>
<html lang="{{ page.lang }}">
{% assign filtered_content = page.content | strip_newlines | strip_html %}
{% capture description %}{% if page.description %}{{ page.description }}{% elsif layout.description %}{{ layout.description }}{% elsif filtered_content %}{{ filtered_content | truncatewords: 40 | truncate: 300 }}{% endif %}{% endcapture %}
{% capture image_url %}{% if page.image_url %}{{ page.image_url }}{% elsif page.image_path %}{{ page.image_path | prepend: site.production_url }}{% endif %}{% endcapture %}
{% capture default_image_url %}{{ site.production_url }}{{ site.default_image }}{% endcapture %}
{% if image_url == '' %}
  {% assign image_url = nil %}
  {% assign image_url_with_default = default_image_url %}
{% else %}
  {% assign image_url_with_default = image_url %}
{% endif %}
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  {% if description %}<meta name="description" content="{{ description | escape }}" />{% endif %}
  <link rel="canonical" href="{{ site.production_url }}{{ page.url }}" />
  <link rel="author" href="http://www.hatena.ne.jp/tasukuchan/" />

  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="/assets/stylesheets/screen.css" rel="stylesheet" />

  <link rel="shortcut icon" href="/favicon.ico">

  <meta property="og:title" content="{{ page.title | escape }}" />
  <meta property="og:url" content="{{ site.production_url }}{{ page.url | remove: 'index.html' }}" />
  <meta property="og:type" content="{% if page.url == '/ja/index.html' %}blog{% else %}article{% endif %}" />
  <meta property="og:image" content="{{ image_url_with_default }}"/>
  <meta property="og:site_name" content="{{ site.site_name }}" />
{% if description %}
<meta property="og:description" content="{{ description | escape }}" />
{% endif %}

 <!-- twitter card -->
  <meta name="twitter:card" content="{% if image_url %}summary_large_image{% else %}summary{% endif %}">
  <meta name="twitter:site" content="@{{ site.twitter_username }}">
  <meta name="twitter:creator" content="@{{ site.twitter_username }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
{% if description %}
  <meta name="twitter:description" content="{{ description | escape}}">
{% endif %}
  <meta name="twitter:image:src" content="{{ image_url_with_default }}">
  <!-- end twitter card -->

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="alternate" type="application/rss+xml" href="/{{ page.lang }}/feed/rss.xml" />
  <link rel="alternate" type="application/atom+xml" href="/{{ page.lang }}/feed/atom.xml" />

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8187984880986474",
            enable_page_level_ads: true
       });
  </script>
</head>

<body>
  <div class="header"><a href="/{{ page.lang }}/" class="header">グニャラくんの㍿ｗｋｔｋ運営日記</a></div>
  <div class="page-wrap">
    <div class="main">
      {{ content }}
    </div>

    <div class="right-bar">
      <div id="sidebar-prefix">
        <h2>当ブログ人気記事</h2>
        <h3>一般</h3>
        <ul>
          <li><a href="//blog.wktk.co.jp/archives/181">インターネット上で楽しく過ごすために</a></li>
          <li><a href="//blog.wktk.co.jp/archives/136">ひとり暮らしの男性に、電気フライヤーのススメ</a></li>
          <li><a href="//blog.wktk.co.jp/ja/entry/2016/11/12/political-correctness">それ、本気で聞いてます？ 僕に「ポリティカル・コレクトネス」の話をさせたら長くなりますよ？</a></li>
          <li><a href="//blog.wktk.co.jp/archives/257">飽きっぽい30男が4ヶ月でTOEIC 850点を取った3つの方法</a></li>
          <li><a href="//blog.wktk.co.jp/ja/entry/2013/06/18/my-favorite-items">僕がAmazonで買っている日用品たち賛歌</a>
          <li><a href="//blog.wktk.co.jp/archives/253">冬だ！グニャ鍋だ！（俺式ピェンローレシピ）</a></li>
        </ul>
        <h3>技術</h3>
        <ul>
          <li><a href="//blog.wktk.co.jp/archives/71">ØMQ(zeromq)について調査する。</a></li>
          <li><a href="//blog.wktk.co.jp/archives/234">JSON on HTTPやWeb APIを各言語でどうやって実装するのか</a></li>
          <li><a href="//blog.wktk.co.jp/archives/278">危なくないgitこと、うちのチームのgit戦略草案</a></li>
        </ul>
      </div>

      <div id="sidebar-fix">
        <h2>自己紹介</h2>
        <dl>
          <dt>グニャラくん</dt>
          <dd>
            <div>
              <img src="/assets/images/kiki_with_tasuku_500.jpg" style="width:250px;height:250px" loading="lazy" alt="ブログ著者写真" />
            </div>
            <p>
            株式会社wktkという会社を趣味で経営しているWeb系ITエンジニアです。
            </p>
          </dd>
        </dl>

        <!-- Twitter follow button -->
        <section class="twitter-button-container">
          <div class="twitter-button">
            <a href="https://twitter.com/tasukuchan?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @tasukuchan</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </section>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-16318808-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script src="/assets/javascripts/prettify.js"></script>
  <script>
// $(document).ready() equivalent without jQuery
(function (window, functions) {
  var document = window.document,
  functions = functions && functions.splice ? functions : [],
  ie = document.addEventListener ? false : true,
  complete = false,
  dispose = function () {
    if (complete) {
      return;
    };
    complete = true;
    if (!ie) {
      document.removeEventListener('DOMContentLoaded', onDOMContentLoaded);
      document.removeEventListener('readystatechange', onReadyStateChange);
      window.removeEventListener('load', onWindowLoad);
    } else {
      document.detachEvent('onreadystatechange', onReadyStateChange);
      window.detachEvent('onload', onWindowLoad);
    }
    for (var i = 0, limit = functions.length; i < limit; i++) {
      setTimeout(functions[i], 25 * i);
    }
  },
  onDOMContentLoaded = function (e) {
    dispose();
  },
  onReadyStateChange = function (e) {
    if (document.readyState == 'complete') {
      dispose();
    }
  },
  onWindowLoad = function (e) {
    dispose();
  },
  onScroll = function (e) {
    var prefix = document.getElementById('sidebar-prefix');
    var fix = document.getElementById('sidebar-fix');
    var prefixStyle = prefix.currentStyle || window.getComputedStyle(prefix);
    var threshold = prefix.offsetTop + prefix.offsetHeight + parseInt(prefixStyle.marginTop) + parseInt(prefixStyle.marginBottom);
    if (document.body.scrollTop > threshold) {
      fix.className = 'sidebar-fixed';
    } else {
      fix.className = '';
    }
  };

  if (!ie) {
    document.addEventListener('DOMContentLoaded', onDOMContentLoaded, false);
    document.addEventListener('readystatechange', onReadyStateChange, false);
    window.addEventListener('load', onWindowLoad, false);
    window.addEventListener('scroll', onScroll, false);
  } else if (document.attachEvent) {
    document.attachEvent('onreadystatechange', onReadyStateChange);
    window.attachEvent('onload', onWindowLoad);
    window.addEventListener('scroll', onScroll);
  }
} (window,
  [
    function () {
      window.prettyPrint && prettyPrint();
    }
  ]
));
  </script>
</body>
</html>
