---
layout: default
---
<article class="article-body">
  <h1>{{ page.title }}</h1>

<!-- social buttons -->
<div class="social-button-container">
  <!-- Twitter -->
  <div class="twitter">
    <a href="https://twitter.com/share" class="twitter-share-button"
      data-lang="{{ page.lang }}"
      data-url="{{ site.production_url }}{{ page.url }}"
      data-text="{{ page.title }}"
      data-via="tasukuchan"
    >Tweet</a>
  </div>

  <!-- Hatena -->
  <div class="hatena">
    <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button"
      data-hatena-bookmark-title="{{ page.title }}"
      data-hatena-bookmark-layout="standard-balloon"
      data-hatena-bookmark-url="{{ site.production_url }}{{ page.url }}">
      <img src="//b.st-hatena.com/images/entry-button/button-only@2x.png"
        alt="このエントリーをはてなブックマークに追加" width="20" height="20"
        style="border: none">
    </a>
  </div>

  <!-- Facebook -->
  <div class="fb-like"
    data-href="{{ site.production_url }}{{ page.url }}"
    data-layout="button_count"
    data-send="false"
    data-width="120"
    data-show-faces="false">
  </div>
</div>
<!-- end of social buttons -->

  {{ content }}
</article>

<hr>

<!-- social buttons -->
<div class="social-button-container">
  <!-- Twitter -->
  <div class="twitter">
    <a href="https://twitter.com/share" class="twitter-share-button"
      data-lang="{{ page.lang }}"
      data-url="{{ site.production_url }}{{ page.url }}"
      data-text="{{ page.title }}"
      data-via="tasukuchan"
    >Tweet</a>
  </div>

  <!-- Hatena -->
  <div class="hatena">
    <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button"
      data-hatena-bookmark-layout="standard"
      data-hatena-bookmark-url="{{ site.production_url }}{{ page.url }}">
      <img src="http://b.st-hatena.com/images/entry-button/button-only.gif"
        alt="このエントリーをはてなブックマークに追加" width="20" height="20"
        style="border: none">
    </a>
  </div>

  <!-- Facebook -->
  <div class="fb-like"
    data-href="{{ site.production_url }}{{ page.url }}"
    data-layout="button_count"
    data-send="false"
    data-width="120"
    data-show-faces="false">
  </div>
</div>
<!-- end of social buttons -->

<div class="pagination">
  <ul>
  {% if page.previous %}
    <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
  {% else %}
    <li class="prev disabled"><a>&larr; Previous</a></li>
  {% endif %}
  {% if page.next %}
    <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
  {% else %}
    <li class="next disabled"><a>Next &rarr;</a>
  {% endif %}
  </ul>
</div>

<h4>Published</h4>
<div class="date"><span>{{ page.date | date_to_long_string }}</span></div>

<!--h4>Tags</h4>
<ul class="tag_box">
</ul-->
