---
layout: default
---
<article class="article-body">
  <h1>{{ page.title }}</h1>

<!-- social buttons -->
<div class="social-button-container">
  <!-- Twitter -->
  <div class="twitter">
    <a href="https://twitter.com/share" class="twitter-share-button"
      data-lang="{{ page.lang }}"
      data-url="{{ site.production_url }}{{ page.url }}"
      data-text="{{ page.title }}"
      data-via="gunyarakun"
    >Tweet</a>
  </div>

  <!-- Hatena -->
  <div class="hatena">
    <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button"
      data-hatena-bookmark-title="{{ page.title }}"
      data-hatena-bookmark-layout="standard-balloon"
      data-hatena-bookmark-url="{{ site.production_url }}{{ page.url }}">
      <img src="//b.st-hatena.com/images/entry-button/button-only@2x.png"
        alt="このエントリーをはてなブックマークに追加" width="20" height="20"
        style="border: none">
    </a>
  </div>

  <!-- Facebook -->
  <div class="fb-like"
    data-href="{{ site.production_url }}{{ page.url }}"
    data-layout="button_count"
    data-action="like"
    data-show-faces="true"
    data-share="true"
    data-width="120">
  </div>
</div>
<!-- end of social buttons -->

  {{ content }}
</article>

<hr>

<!-- social buttons -->
<div class="social-button-container">
  <!-- Twitter -->
  <div class="twitter">
    <a href="https://twitter.com/share" class="twitter-share-button"
      data-lang="{{ page.lang }}"
      data-url="{{ site.production_url }}{{ page.url }}"
      data-text="{{ page.title }}"
      data-via="gunyarakun"
    >Tweet</a>
  </div>

  <!-- Hatena -->
  <div class="hatena">
    <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button"
      data-hatena-bookmark-title="{{ page.title }}"
      data-hatena-bookmark-layout="standard-balloon"
      data-hatena-bookmark-url="{{ site.production_url }}{{ page.url }}">
      <img src="//b.st-hatena.com/images/entry-button/button-only@2x.png"
        alt="このエントリーをはてなブックマークに追加" width="20" height="20"
        style="border: none">
    </a>
  </div>

  <!-- Facebook -->
  <div class="fb-like"
    data-href="{{ site.production_url }}{{ page.url }}"
    data-layout="button_count"
    data-action="like"
    data-show-faces="true"
    data-share="true"
    data-width="120">
  </div>
</div>
<!-- end of social buttons -->

<div class="pagination">
  <ul>
  {% if page.previous %}
    <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
  {% else %}
    <li class="prev disabled"><a>&larr; Previous</a></li>
  {% endif %}
  {% if page.next %}
    <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
  {% else %}
    <li class="next disabled"><a>Next &rarr;</a>
  {% endif %}
  </ul>
</div>

<h4>Published</h4>
<div class="date"><span>{{ page.date | date_to_long_string }}</span></div>

<!--h4>Tags</h4>
<ul class="tag_box">
</ul-->

<!-- social button javascripts -->
<script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=716922805037577";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
